# Change An Pandas Dataframe Index Into A Column

- **Author:** [Chris Albon](http://www.chrisalbon.com/), [@ChrisAlbon](https://twitter.com/chrisalbon)
- **Date:** Jan 27, 2016
- **Repo:** [Data Science for Political and Social Phenomena](https://github.com/chrisalbon/Data-Science-For-Political-And-Social-Phenomena)
- **Note:**

## Load package

In [21]:
import pandas as pd

## Create a dataframe

In [22]:
data = {'county': ['Cochice', 'Pima', 'Santa Cruz', 'Maricopa', 'Yuma'], 
        'year': [2012, 2012, 2013, 2014, 2014], 
        'reports': [4, 24, 31, 2, 3]}
df = pd.DataFrame(data)
df

       county  reports  year
0     Cochice        4  2012
1        Pima       24  2012
2  Santa Cruz       31  2013
3    Maricopa        2  2014
4        Yuma        3  2014

## Set the dataframe's index

In [25]:
df.index = df['county']
df = df.drop('county', axis=1)

In [26]:
df

            reports  year
county
Cochice           4  2012
Pima             24  2012
Santa Cruz       31  2013
Maricopa          2  2014
Yuma              3  2014

## Reset The Index

In [27]:

df.reset_index()

       county  reports  year
0     Cochice        4  2012
1        Pima       24  2012
2  Santa Cruz       31  2013
3    Maricopa        2  2014
4        Yuma        3  2014