# Select Rows With Multiple Filters

- **Author:** [Chris Albon](http://www.chrisalbon.com/), [@ChrisAlbon](https://twitter.com/chrisalbon)
- **Date:** -
- **Repo:** [Python 3 code snippets for data science](https://github.com/chrisalbon/code_py)
- **Note:**

In [10]:
# import pandas as pd
import pandas as pd

In [7]:
# Create an example dataframe
data = {'name': ['A', 'B', 'C', 'D', 'E'], 
        'score': [1,2,3,4,5]}
df = pd.DataFrame(data)
df

  name  score
0    A      1
1    B      2
2    C      3
3    D      4
4    E      5

In [11]:
# Select rows of the dataframe where df.score is greater than 1 and less and 5
df[(df['score'] > 1) & (df['score'] < 5)]

  name  score
1    B      2
2    C      3
3    D      4