# Select Rows That Have A Certain Value

- **Author:** [Chris Albon](http://www.chrisalbon.com/), [@ChrisAlbon](https://twitter.com/chrisalbon)
- **Date:** -
- **Repo:** [Python 3 code snippets for data science](https://github.com/chrisalbon/code_py)
- **Note:**

In [1]:
import pandas as pd

In [5]:
# Create an example dataframe
data = {'name': ['Jason', 'Molly'], 
        'country': [['Syria', 'Lebanon'],['Spain', 'Morocco']]}
df = pd.DataFrame(data)
df

            country   name
0  [Syria, Lebanon]  Jason
1  [Spain, Morocco]  Molly

In [11]:
df[df['country'].map(lambda country: 'Syria' in country)]

            country   name
0  [Syria, Lebanon]  Jason