In [11]:
import pandas as pd
import numpy as np

In [12]:
raw_data = {
        'val': ['1', '1', '1']}
df_a = pd.DataFrame(raw_data, columns = ['val'])
df_a

  val
0   1
1   1
2   1

In [13]:
raw_data = {
        'val': ['0', '0', '0', '0']}
df_b = pd.DataFrame(raw_data, columns = ['val'])
df_b = df_b.drop([0,1])
df_b

  val
2   0
3   0

In [14]:
df = pd.concat([df_a, df_b])
df

  val
0   1
1   1
2   1
2   0
3   0

In [26]:
df.groupby(df.index).first()

  val
0   1
1   1
2   1
3   0